
@model ToDo
@{
    var baseUrl = Context.Request.Scheme + "://"+ Context.Request.Host + "/images/issues";
}

<div class="container">
    <div class="form-group">
        <a class="btn btn-block btn-outline-dark" href="/Home/Index"><i class="fa fa-backward"></i> Back To List</a>
    </div>
    <div class="form-group">
       
        <h4>Main Task Content</h4>
        <div class="jumbotron">
            @Html.Raw(Model.ToDoSubject)
        </div>
       
        <hr />
         <h3>Task History</h3>
    </div>
    <div class="form-group">
        <h5>Attachment(s)</h5>
        <a href="@baseUrl/@Model.ImageFileName" target="_blank"><img src="~/images/issues/@Model.ImageFileName" width="200" /></a>
    </div>
    <hr />
    <div id="divListOfTicketHistory"></div>
    <hr />
    <h4>Add New Comment</h4>
    <div class="form-group">
        <input type="hidden" value="@Model.Id" id="hfTickectId" />
        <textarea id="toDoNewComment" class="form-control" cols="40" rows="6"></textarea>
        <br />
        <input type="button" id="btnSaveTicketComment" class="btn btn-success" value="Save" />
    </div>
</div>
<script src="~/js/jquery-3.3.1.min.js"></script>
<script>
$(function() {
    loadTicketHistoryListData(@Model.Id);
    CKEDITOR.replace('toDoNewComment')
});
</script>