
@model ToDo
@{
}

<div class="container">
    <div class="form-group">
        <h3>Task History</h3>
        <h4>Main Task Content</h4>
        <div class="justify-content-md-around">
            @Model.ToDoSubject
        </div>
    </div>
</div>